.list-ul {
    list-style-type: none;
    background-color: #e1c478;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    font-size: 20px;
    color: #5c6a4b;
    position: relative;
}

.list-ul li {
    background-color: #f5c896;
    margin: 5px;
    padding: 5px;
    text-align: start;
    position: relative;
}

.fade-enter {
    opacity: 0.1;
    right: 150px;
  }
  
  .fade-enter.fade-enter-active {
    opacity: 1;
    right: 0;
    transition: all 0.5s ease-in;
  }
  
  .fade-leave {
    opacity: 1;
    right: 0;
  }
  
  .fade-leave.fade-leave-active {
    opacity: 0;
    right: -150px;
    transition: all 0.3s ease-in;
  }

.task-number {
    color: #e1c478;
    background-color: #5c6a4b;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 8px;
    margin: 5px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
}

.r-button {
    float: right;
    font-size: 20px;
    padding: 3px;
    border: 2px solid #c21807;
    border-radius: 5px;
    background-color: #c21807;
    color: #e1c478;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.r-button:hover {
    background-color: #a00605;
    color: #d0b367;
    transform: scale(1.1);
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .list-ul {
        width: 80%;
        font-size: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .list-ul {
        width: 85%;
        font-size: 20px;
    }
} 

@media only screen and (min-width: 600px) and (max-width: 767px) {
    .list-ul {
        width: 90%;
        font-size: 20px;
        font-size: 16px;
    }

    .task-number {
        width: 12px;
        height: 12px;
        padding: 5px;
        line-height: 12px;
    }
} 


@media only screen and (min-width: 480px) and (max-width: 599px) {
    .list-ul {
        width: 90%;
        font-size: 20px;
        font-size: 16px;
    }

    .task-number {
        width: 12px;
        height: 12px;
        padding: 5px;
        line-height: 12px;
    }
} 

@media only screen and (max-width: 480px) {
    .list-ul {
        width: 90%;
        font-size: 20px;
        font-size: 16px;
    }

    .task-number {
        width: 12px;
        height: 12px;
        padding: 5px;
        line-height: 12px;
    } 
} 


