.list-ul {
    list-style-type: none;
    background-color: #e1c478;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    font-size: 20px;
    color: #5c6a4b;
}

.list-ul li {
    background-color: #f5c896;
    margin: 5px;
    padding: 5px;
    text-align: start;
}

.task-number {
    color: #e1c478;
    background-color: #5c6a4b;
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 8px;
    margin: 5px;
    border-radius: 50%;
    line-height: 25px;
    text-align: center;
}

.r-button {
    float: right;
    font-size: 20px;
    padding: 3px;
    border: 2px solid #c21807;
    border-radius: 5px;
    background-color: #c21807;
    color: #e1c478;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.r-button:hover {
    background-color: #a00605;
    color: #d0b367;
    transform: scale(1.1);
}
