.to-do-form-div {
    background-color: #e1c478;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.to-do-form {
    padding: 10px 0;
}

input {
    width: 65%;
    font-size: 110%;
    border: 0;
    padding: 5px;
}

.add-button {
    width: 30%;
    margin-left: 10px;
    background-color: #5c6a4b;
}

.add-button:hover {
    background-color: #3a4a2a;
}

.to-do-form-div button {
    padding: 0px;
    outline: none;
    height: 30px;
    font-size: 110%;
    border: 0;
    padding: 5px;
    color: #e1c478;
    transition: all ease-in-out 0.3s;
}

.to-do-form-div button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons button {
    flex-basis: 30%;
    background-color: #c21807;
}

.buttons button:hover {
    background-color: #a00605;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .to-do-form-div {
        width: 80%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .to-do-form-div {
        width: 85%;
    }
} 

@media only screen and (min-width: 600px) and (max-width: 767px) {
    .to-do-form-div {
        width: 90%;
    }
} 

@media only screen and (min-width: 480px) and (max-width: 599px) {
    .to-do-form-div {
        width: 90%;
    }

    input {
        width: 65%;
        font-size: 110%;
        padding: 5px;
    }
    
    .add-button {
        width: 25%;
        margin-left: 10px;
    }

    .buttons button {
        flex-basis: 40%;
    }
} 

@media only screen and (max-width: 480px) {
    .to-do-form-div {
        width: 90%;
    }

    input {
        width: 65%;
        font-size: 90%;
        padding: 5px;
    }
    
    .add-button {
        width: 25%;
        margin-left: 10px;
    }

    .buttons button {
        flex-basis: 45%;
    }

    .to-do-form-div button {
        font-size: 90%;
    }
} 
